<template>
  <div :class="`task ${task.done ? 'is-complete' : ''}`">
    <div class="content">{{ task.content }}</div>
    <div class="buttons">
      <button @click="toggleDone">{{ task.done ? "Undo" : "Done" }}</button>
      <button class="delete" @click="removeTask">Delete</button>
    </div>
  </div>
</template>

<script>
export default {
  name: "TaskComponent",
  props: {
    task: {
      type: String,
      default: "SA",
    },
  },
  methods: {
    toggleDone() {
      this.$store.commit("TOGGLE_TASK", this.task);
    },
    removeTask() {
      this.$store.commit("REMOVE_TASK", this.task);
    },
  },
};
</script>

<style lang="scss">
@import "~/assets/sass/todo.scss";
</style>
